<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>


    <!--自定义-->
    <add key="appid" value="wxde27e835a9433a6d"/>
    <!--企业微信跳转链接-->
    <!--  <add key="QWXurl" value="http://localhost:58477"/> -->
    <add key="QWXurl" value="http://47.100.116.153:84"/>


    <!--数据库链接DBHelpstree-->
    <add key="SQLStree" value="Data Source=47.100.107.160;Initial Catalog=Lvdu_mdm;User ID=sa;pwd=SHUjv.18" />
    <!--数据库链接DBHelpTwo-->
    <add key="SQLTwo" value="Data Source=47.100.179.89;Initial Catalog=LCXN;User ID=sa;pwd=work1.hard" />
    <!--数据库链接DBHelp-->
    <add key="SQL" value="Data Source=101.132.157.223;Initial Catalog=lvdu_bpm;User ID=sa;pwd=SHUjv.18" />


    <!--appid == CorpID-->
    <add key="appsecret" value="xYtpxSib90moyn3MFWrIJHYaYKMLc_59H4lCvADrCfE"/>
    <!--appsecret == Secret-->
    <!--<add key="port" value="81"/>-->
    <!--必须注意发布后的端口号-->
    <add key ="CorpSendBaseAgentID" value="1000055"/>
    <!--应用AgentId-->

    <add key ="getAccessTokenUrl" value="https://qyapi.weixin.qq.com/cgi-bin/gettoken?corpid={0}&#38;corpsecret={1}"/>
    <add key ="messageSendURI" value="https://qyapi.weixin.qq.com/cgi-bin/message/send?access_token={0}"/>
    <add key ="getAgentContent" value="https://qyapi.weixin.qq.com/cgi-bin/agent/get?access_token={0}&#38;agentid={1}"/>

  </appSettings>
</configuration>